{% extends 'base.html' %}

{% block content %}
<style>
  body {
    margin-top: 20px;
  }

  .chat-online {
    color: #34ce57;
  }

  .chat-offline {
    color: #e4606d;
  }

  .chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll;
  }

  .chat-message-left,
  .chat-message-right {
    display: flex;
    flex-shrink: 0;
  }

  .form-custom {
    width: 100%;
    max-width: 568px;
  }

  .form-button-wrapper {
    display: flex;
    align-items: center;
  }

  .chat-message-left {
    margin-right: auto;
  }

  .chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto;
  }

  .py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .flex-grow-0 {
    flex-grow: 0 !important;
  }

  .border-top {
    border-top: 1px solid #dee2e6 !important;
  }

  .file-preview-card {
    width: 200px;
    /* Set the desired width */
    height: 200px;
    /* Set the desired height */
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  /* Responsive Styles */

  @media (max-width: 768px) {
    .form-container {
      width: 100%;
    }

    .chat-background {
      overflow-x: hidden;
      width: 100%;
      max-width: 100%;
    }
  }

  @media (min-width: 768px) {
    .form-container {
      max-width: 568px;
    }
  }
</style>

<section>
  <div class="py-2 px-4 border-bottom d-none d-lg-block">
    <div class="d-flex align-items-center py-1">
      <div class="position-relative">
        <img src="{{ recipient_id.userprofile.profile_picture.url }}" class="rounded-circle mr-1" alt="Recipient Image"
          width="40" height="40">
      </div>
      <div class="flex-grow-1 pl-3">
        <strong>{{ recipient_id.username }}</strong>
        <div class="text-muted small"><em>Typing...</em></div>
      </div>
    </div>
  </div>

  <div class="position-relative chat-background">
    <div class="chat-messages p-4">
      {% for message in messages %}
      {% if message.sender == request.user %}
      <!-- Sender message -->
      <div class="chat-message-right mb-4">
        <div>
          <img src="{{ request.user.userprofile.profile_picture.url }}" class="rounded-circle mr-1" alt="Chris Wood"
            width="40" height="40">
          <div class="text-muted small text-nowrap mt-2">{{ message.timestamp }}</div>
        </div>
        <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
          <div class="font-weight-bold mb-1">You</div>
          {{ message.message }}
          {% with message.file_url as file_url %}
          {% with file_url|slice:"-4:"|lower as file_extension %}
            {% if file_extension in allowed_extensions %}
              <!-- Image preview -->
              <div class="file-preview-card">
                <img src="{{ message.file_url }}" class="img-fluid">
              </div>
            {% elif file_extension in video_extensions %}
              <!-- Video preview -->
              <video src="{{ message.file_url }}" controls muted playsinline style="max-width: 350px; height: auto;">
                Your browser does not support the video tag.
              </video>
            {% else %}
              <!-- Other file types (display file name without URL) -->
              <div class="file-preview-card">
                <p>{{ message.file_url }}</p>
              </div>
            {% endif %}
          {% endwith %}
        {% endwith %}        
        </div>
      </div>
      {% else %}
      <!-- Recipient message -->
      <div class="chat-message-left pb-4">
        <div>
          <img src="{{ recipient_id.userprofile.profile_picture.url }}" class="rounded-circle mr-1" alt="Sharon Lessman"
            width="40" height="40">
        </div>
        <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
          <div class="font-weight-bold mb-1"></div>
          {{ message.message }}
          {% with message.file_url as file_url %}
          {% with file_url|slice:"-4:"|lower as file_extension %}
            {% if file_extension in allowed_extensions %}
              <!-- Image preview -->
              <div class="file-preview-card">
                <img src="{{ message.file_url }}" class="img-fluid">
              </div>
            {% elif file_extension in video_extensions %}
              <!-- Video preview -->
              <video src="{{ message.file_url }}" controls muted playsinline style="max-width: 350px; height: auto;">
                Your browser does not support the video tag.
              </video>
            {% else %}
              <!-- Other file types (display file name without URL) -->
              <div class="file-preview-card">
                <p>{{ message.file_url }}</p>
              </div>
            {% endif %}
          {% endwith %}
        {% endwith %}      
        </div>
        <div class="text-muted small text-nowrap mt-2">{{ message.timestamp }}</div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="flex-grow-0 py-3 px-4 border-top form-container">
      <form id="send-message-form" method="POST" action="{% url 'send_message' recipient_id.id %}"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-button-wrapper mx-2 p-2">
          {{ form.as_p }}
          <button type="submit" class="btn btn-success mt-2 rounded-circle mx-2"><i
              class="fa-regular fa-paper-plane"></i></button>
          <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-paperclip"></i>
          </button>
        </div>
      </form>

      <!-- Button trigger modal -->

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Your Files</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="send-message-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="file" class="mt-3 mb-5">Upload File</label>
                  <input type="file" name="file" id="file" class="form-control-file">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="uploadButton">Upload</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% block pusher %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function () {
    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('99d02ed61a52d34cd27c', {
      cluster: 'mt1'
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function (data) {
      // Handle the received message data
      var message = data.message;
      var sender = data.sender;
      var recipient = data.recipient;

      // Append the new message to the chat messages container
      var chatMessagesContainer = $('.chat-messages');
      var newMessageHtml = '';

      if (sender === "{{ request.user.username }}") {
        newMessageHtml = `
          <div class="chat-message-right mb-4">
            <div>
              <img src="{{ request.user.userprofile.profile_picture.url }}" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
              <div class="text-muted small text-nowrap mt-2">${new Date().toLocaleString()}</div>
            </div>
            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
              ${message}
            </div>
          </div>
        `;
      } else if (recipient === "{{ request.user.username }}") {
        newMessageHtml = `
          <div class="chat-message-left pb-4">
            <div>
              <img src="{{ recipient_id.userprofile.profile_picture.url }}" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
            </div>
            <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
              ${message}
            </div>
            <div class="text-muted small text-nowrap mt-2">${new Date().toLocaleString()}</div>
          </div>
        `;
      }
      console.log(newMessageHtml, "new mesasage")
      if (newMessageHtml !== '' && data.hasOwnProperty('message')) { //hasOwnProperty checks the key message is passing'
        chatMessagesContainer.append(newMessageHtml);
        scrollToBottom(chatMessagesContainer); // Scroll to the bottom of the chat messages container
      }
    });

    $('#send-message-form').submit(function (event) {
      event.preventDefault(); // Prevent default form submission

      var form = $(this);
      var url = form.attr('action');
      var formData = form.serialize(); // Serialize form data

      var message = form.find('#id_message').val(); // Get the value of the message input field
      var recipient = "{{ recipient_id.username }}"; // Set the selected recipient here

      $.ajax({
        type: 'POST',
        url: url,
        data: formData,
        success: function (response) {
          console.log('Message sent successfully'); // Log success message

          // Trigger the Pusher event only if the recipient matches the selected recipient
          if (recipient === "{{ recipient_id.username }}") {
            pusher.trigger('my-channel', 'my-event', {
              'message': message,
              'sender': "{{ request.user.username }}",
              'recipient': recipient
            });
          }

          // Append the new message to the chat messages container
          var chatMessagesContainer = $('.chat-messages');
          var newMessageHtml = `
            <div class="chat-message-left pb-4">
              <div>
                <img src="{{ recipient_id.userprofile.profile_picture.url }}" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                ${message}
              </div>
              <div class="text-muted small text-nowrap mt-2">${new Date().toLocaleString()}</div>
            </div>
          `;

          chatMessagesContainer.append(newMessageHtml);
          scrollToBottom(chatMessagesContainer); // Scroll to the bottom of the chat messages container

          form.find('#id_message').val(''); // Clear the message input field

          if (form.find('#id_message').val() != '') {
            alert('Message sent and input cleared.'); // Display an alert if the message input field is cleared
          }
        },
        error: function (xhr, errmsg, err) {
          console.log('Error sending message'); // Log error message
        }
      });
    });

    // Function to scroll to the bottom of the chat messages container
    function scrollToBottom(container) {
      container.scrollTop(container[0].scrollHeight);
    }
  });
</script>

<script>
  $(document).ready(function () {
    $('#uploadButton').click(function () {
      var fileInput = document.getElementById('file');
      var file = fileInput.files[0];

      var formData = new FormData();
      formData.append('file', file);

      $.ajax({
        url: '{% url "file-upload" recipient_id.id %}',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        headers: {
          'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()
        },
        success: function (data) {
          var fileUrl = data.file_url;
          var fileName = file.name;

          var fileExtension = fileName.substr(fileName.lastIndexOf('.'));
          var messageHtml = '<div class="chat-message-right mb-4">' +
            '<div>' +
            '<img src="{{ request.user.userprofile.profile_picture.url }}" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">' +
            '<div class="text-muted small text-nowrap mt-2">' + data.timestamp + '</div>' +
            '</div>' +
            '<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">' +
            '<div class="font-weight-bold mb-1">You</div>';

          // Append file preview based on file type
          var fileExtension = file.name.substr(file.name.lastIndexOf('.'));
          if (fileExtension.includes('.jpg') || fileExtension.includes('.jpeg') || fileExtension.includes('.png') || fileExtension.includes('.gif')) {
            // Image preview
            messageHtml += '<div class="file-preview-card"><img src="' + data.file_url + '" class="img-fluid"></div>';
          } else if (fileExtension.includes('.mp4') || fileExtension.includes('.avi') || fileExtension.includes('.mov')) {
            // Video preview
            messageHtml += '<div class="file-preview-card"><video src="' + data.file_url + '" controls></video></div>';
          } else {
            // Other file types (display file name without URL)
            messageHtml += '<div class="file-preview-card"><p>' + file.name + '</p></div>';
          }

          messageHtml += '</div>' +
            '</div>';

          // Append the new message with the file to the chat message display
          $('.chat-messages').append(messageHtml);

          // Scroll to the bottom of the chat message display
          var chatMessages = document.querySelector('.chat-messages');
          chatMessages.scrollTop = chatMessages.scrollHeight;

          // Hide the file URL container
          $('#fileUrlContainer').hide();
          $('#exampleModal').modal('hide'); // Close the modal box
        },
        error: function (xhr, textStatus, error) {
          console.error('Error uploading file:', error);
          $('#file-info').text('Error uploading file');
          alert('Error uploading file');
        }
      });
    });
  });
</script>





{% endblock %}