{% extends 'base.html' %}
{% block content %}
<style>
    body {
        margin-top: 20px;
    }

    .chat-online {
        color: #34ce57
    }

    .chat-offline {
        color: #e4606d
    }

    .chat-messages {
        display: flex;
        flex-direction: column;
        max-height: 800px;
        overflow-y: scroll
    }

    .chat-message-left,
    .chat-message-right {
        display: flex;
        flex-shrink: 0
    }

    .chat-message-left {
        margin-right: auto
    }

    .chat-message-right {
        flex-direction: row-reverse;
        margin-left: auto
    }

    .py-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .flex-grow-0 {
        flex-grow: 0 !important;
    }

    .border-top {
        border-top: 1px solid #dee2e6 !important;
    }
</style>


<section>
    <div class="position-relative">
        <div class="chat-messages p-4">


            {% for message in messages %}
            {% if message.sender == request.user %}
            <!-- Sender message -->
            <div class="chat-message-right mb-4">
                <div>
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1"
                        alt="Chris Wood" width="40" height="40">
                    <div class="text-muted small text-nowrap mt-2">{{ message.timestamp }}</div>
                </div>
                <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                    <div class="font-weight-bold mb-1">You</div>
                    {{ message.message }}
                </div>
            </div>
            {% else %}
            <!-- Recipient message -->
            <div class="chat-message-left pb-4">
                <div>
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1"
                        alt="Sharon Lessman" width="40" height="40">

                </div>
                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                    <div class="font-weight-bold mb-1">{{ message.sender.username }}</div>
                    {{ message.message }}
                </div>
                <div class="text-muted small text-nowrap mt-2">{{ message.timestamp }}</div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>

    <div class="flex-grow-0 py-3 px-4 border-top">
        <form method="post" action="{% url 'send_message' recipient_id.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="message" class="form-control" placeholder="Type your message">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>


    </div>
    </div>
</section>



{% endblock %}