{% extends 'base.html' %}

{% block content %}
<style>
  body {
    margin-top: 20px;
  }

  .chat-online {
    color: #34ce57
  }


  .chat-offline {
    color: #e4606d
  }

  .chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll;
  }

  .chat-message-left,
  .chat-message-right {
    display: flex;
    flex-shrink: 0
  }

  .form-custom {
    width: 568px;
  }

  .form-button-wrapper {
    display: flex;
    align-items: center;

  }

  .chat-message-left {
    margin-right: auto
  }

  .chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
  }

  .py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .flex-grow-0 {
    flex-grow: 0 !important;
  }

  .border-top {
    border-top: 1px solid #dee2e6 !important;
  }
</style>

<section>
  <div class="py-2 px-4 border-bottom d-none d-lg-block">
    <div class="d-flex align-items-center py-1">
      <div class="position-relative">
        <img src="{{ recipient_id.userprofile.profile_picture.url }}" class="rounded-circle mr-1" alt="Recipient Image"
          width="40" height="40">
      </div>
      <div class="flex-grow-1 pl-3">
        <strong>{{ recipient_id.username }}</strong>
        <div class="text-muted small"><em>Typing...</em></div>
      </div>
    </div>
  </div>

  <div class="position-relative chat-background">
    <div class="chat-messages p-4">
      {% for message in messages %}
      {% if message.sender == request.user %}
      <!-- Sender message -->
      <div class="chat-message-right mb-4">
        <div>
          <img src="{{ request.user.userprofile.profile_picture.url }}" class="rounded-circle mr-1" alt="Chris Wood"
            width="40" height="40">
          <div class="text-muted small text-nowrap mt-2">{{ message.timestamp }}</div>
        </div>
        <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
          <div class="font-weight-bold mb-1">You</div>
          {{ message.message }}
          {% if message.file %}
          <a href="{{ message.file.url }}">Download File</a>
          {% endif %}
        </div>
      </div>
      {% else %}
      <!-- Recipient message -->
      <div class="chat-message-left pb-4">
        <div>
          <img src="{{ recipient_id.userprofile.profile_picture.url }}" class="rounded-circle mr-1" alt="Sharon Lessman"
            width="40" height="40">
        </div>
        <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
          <div class="font-weight-bold mb-1"></div>
          {{ message.message }}
          {% if message.file %}
          <a href="{{ message.file.url }}">Download File</a>
          {% endif %}
        </div>
        <div class="text-muted small text-nowrap mt-2">{{ message.timestamp }}</div>
      </div>
      {% endif %}
      {% endfor %}
    </div>


    <div class="flex-grow-0 py-3 px-4 border-top form-container" style="width: 1840px;">

      <form id="send-message-form" method="POST" action="{% url 'send_message' recipient_id.id %}"
        enctype="multipart/form-data">

        {% csrf_token %}
        <div class="form-button-wrapper mx-2 p-2">
          {{ form.as_p }}
          <button type="submit" class="btn btn-success mt-2 rounded-circle mx-2"><i
              class="fa-regular fa-paper-plane"></i></button>
          <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-paperclip"></i>
          </button>


        </div>
      </form>
      <!-- Button trigger modal -->


      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Your Files</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="send-message-form" method="POST" action="{% url 'file-upload' recipient_id.id %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="file" class="mt-3 mb-5  ">Upload File</label>
                  <input type="file" name="file" id="file" class="form-control-file">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Upload</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="file-info"></div>
  </div>


</section>
{% block pusher %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

  $(document).ready(function () {
    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('99d02ed61a52d34cd27c', {
      cluster: 'mt1'
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function (data) {
      // Handle the received message data
      var message = data.message;
      var sender = data.sender;
      var recipient = data.recipient;

      // Check if the recipient matches the selected recipient ID
      if (recipient === "{{ recipient_id.username }}") {
        // Append the new message to the chat messages container
        var chatMessagesContainer = $('.chat-messages');
        var newMessageHtml = '';

        if (sender === "{{ request.user.username }}") {
          newMessageHtml = `
          <div class="chat-message-right mb-4">
            <div>
              <img src="{{ request.user.userprofile.profile_picture.url }}" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
              <div class="text-muted small text-nowrap mt-2">${new Date().toLocaleString()}</div>
            </div>
            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
              ${message}
            </div>
          </div>
        `;
        } else {
          newMessageHtml = `
          <div class="chat-message-left pb-4">
            <div>
              <img src="{{ recipient_id.userprofile.profile_picture.url }}" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
            </div>
            <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
              ${message}
            </div>
            <div class="text-muted small text-nowrap mt-2">${new Date().toLocaleString()}</div>
          </div>
        `;
        }

        chatMessagesContainer.append(newMessageHtml);
        scrollToBottom(chatMessagesContainer); // Scroll to the bottom of the chat messages container
      }
    });

    $('#send-message-form').submit(function (event) {
      event.preventDefault(); // Prevent default form submission

      var form = $(this);
      var url = form.attr('action');
      var formData = new FormData(form[0]); // Use FormData to handle form data including file

      $.ajax({
        type: 'POST',
        url: url,
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          console.log('Message sent successfully'); // Log success message

          // Get the file information from the response
          var file = response.file;
          var fileUrl = file.url;
          var fileName = file.name;

          // Trigger the Pusher event
          pusher.trigger('my-channel', 'my-event', {
            'message': '',
            'sender': "{{ request.user.username }}",
            'recipient': "{{ recipient_id.username }}",
            'file': {
              'url': fileUrl,
              'name': fileName
            }

          });

          // Append the new message to the chat messages container
          var chatMessagesContainer = $('.chat-messages');
          var newMessageHtml = `
            <div class="chat-message-left pb-4">
              <div>
                <img src="{{ recipient_id.userprofile.profile_picture.url }}" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
              </div>
              <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                ${message}
              </div>
              <div class="text-muted small text-nowrap mt-2">${new Date().toLocaleString()}</div>
            </div>
          `;
          chatMessagesContainer.append(newMessageHtml);
          scrollToBottom(chatMessagesContainer); // Scroll to the bottom of the chat messages container

          form.find('#id_message').val('');  // Clear the message input field

          if (form.find('#file').val() != '') {
            var fileInput = form.find('#file');
            var fileInfo = $('#file-info');
            fileInfo.text('Selected file: ' + fileInput[0].files[0].name);  // Display the selected file name in the file info element
          }
        },
        error: function (xhr, errmsg, err) {
          console.log('Error sending message');  // Log error message
        }
      });
    });

    // Function to scroll to the bottom of the chat messages container
    function scrollToBottom(container) {
      container.scrollTop(container[0].scrollHeight);
    }
  });
</script>

{% endblock %}