{% extends 'base.html' %}

{% block content %}
<style>
    body {
        margin-top: 20px;
    }

    .chat-online {
        color: #34ce57
    }

    .chat-offline {
        color: #e4606d
    }

    .chat-messages {
        display: flex;
        flex-direction: column;
        max-height: 800px;
        overflow-y: scroll
    }

    .chat-message-left,
    .chat-message-right {
        display: flex;
        flex-shrink: 0
    }

    .chat-message-left {
        margin-right: auto
    }

    .chat-message-right {
        flex-direction: row-reverse;
        margin-left: auto
    }

    .py-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .flex-grow-0 {
        flex-grow: 0 !important;
    }

    .border-top {
        border-top: 1px solid #dee2e6 !important;
    }
</style>

<section class="p-lg-5 mt-5">
    <div class="container p-0"> 
        <div class="card border-success shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <div class="row ">
                <div class="col-lg col-xl border-right">
                    {% for usr in user %}
                        {% if not usr.user.is_authenticated or usr.user != request.user %}
                            <a href="{% url 'chat-detail' usr.user.id %}" class="list-group-item list-group-item-action border-0 ms-3 mb-2">
                                <div class="badge bg-success float-right">5</div>
                                    {% if usr.profile_picture %}
                                    <div class="d-flex align-items-start">
                                        <img src="{{ usr.profile_picture.url }}" class="rounded-circle mr-1" width="40" height="40">
                                    {% else %}
                                    <div class="d-flex align-items-start">
                                        <i class="bi bi-person-circle fa-2x" style="width: 40px; height: 40px;"></i>
                                    {% endif %}
                                    <div class="flex-grow-1 ml-3">
                                            {{ usr.user }}{{ usr.user.id }}
                                    </div>
                                </div>
                            </a>
                            <hr class="w-100" >
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}